<!DOCTYPE html>

{%load static%}

<html lang="en">
<head>
    <title>Dashboard - email otomatis</title>

    <script src="{% static 'js/jquery.js' %}"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/shceduler.css' %}">
    <link rel="stylesheet" href="{% static 'css/addEmail.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'image/mail.png' %}">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body class="background-image">
    <div class="header">
        <nav class="nav">
            <!-- <h3>Email Otomatis</h3> -->
            <img style = 'width: 13%;'; src="{%static '/image/logo.png' %}">
            <ul class = 'nav-header'>
                <li class="link-header">
                    <a class = "btn activ" href="/" style="text-decoration:none; color: gray;">Login</a>
                </li>
            </ul>
        </nav>
    </div>

    <div style="display: flex;">   
        <div class="title-page" data-aos="fade-left">
            <h3 class="main-title">Automate your mail</h3>
            <h5 class="sub-title">Shceduling your mail</h5>
            <img style = 'width: 35%; margin-left: 50px;' src="{%static '/image/mail2.png' %}">
            <p class="desc-page">
                Website pengiriman email otomatis, <br/>
                dengan pengiriman secara periodik <br/>
                dan dapat mengirim lebih dari satu email sekaligus <br/>
            </p>
        </div>

        <div class="login" data-aos="fade-right">
            <form method="POST" action="/" enctype= multipart/form-data onSubmit="return confirm('Input data?') ">
                <h3 style="margin-top:40px; display: block;">Login</h3>
                <p style="margin-top:-12px;font-size: 14px;display: block;">Pengiriman email otomatis</p>
                {% csrf_token %}
                <div class="border-login"></div>
                <div class="form-boxLogin">
                    <div class="form-group-email-admin">
                        <label style="font-size:14px;" for="email" >Email</label><br>
                        <input type="email" id="email" name="email"><br>
                    </div>
        
                    <div class="form-group-password">
                        <label style="font-size:14px;" for="kode_cabang">Password</label><br>
                        <input type="password" id="password" name="password"><br>
                    </div>
                    
                </div>
                
                <input type="hidden" name="next" value="{{ next }}">
        
                <button type="submit" class="submit_login">Masuk</button>
            </form> 
        </div>
    </div>

 

    <script>
        setTimeout(function(){
            if($('#msg-add').length > 0){
                $('#msg-add').remove();
            }
        }, 2000)
    </script>

    <script>
        setTimeout(function(){
            if($('#msg-addEmail').length > 0){
                $('#msg-addEmail').remove();
            }
        }, 2000)
    </script>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>

